# Яндекс OAuth настройки
CLIENT_ID=Тут без ковычек поставь айдишник
    (вот тут его можно получить https://oauth.yandex.ru/)
CLIENT_SECRET=аналогично CLIENT_ID

# Токен Telegram бота
TELEGRAM_BOT_TOKEN=Тут без ковычек поставь токен,
    но сначала создай себе бота через BotFather

DATABASE_URL=sqlite+aiosqlite:///./direct.sqlite
REDIS_HOST=localhost ну или указывай имя контейнера
REDIS_PORT=6379 это стандартынй порт redis 


